/*

Link til fargekoder:
https://www.quackit.com/css/css_color_codes.cfm

*/
 
.background {
  min-height: 100vh;
  width: 100%;
  font-size: calc(10px + 2vmin);
  display: flex;
  position: absolute;
}

/*------- START PLACES ON MAP ----------*/
.dot_container_app {
  position: absolute;
  display: flex;
  align-items: end;
  width: 100%;
  height: 100%;
}

.place {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}


.dot_undergang {
  left: 7.1%;
  top: 55%;
}

.dot_undergang:hover {

  color: #6F6F6F;
}

.dot_gangbro {
  left: 41.5%;
  top: 69%;
}

.dot_gangbro:hover {

  color: #6F6F6F
}

.dot_park {
  left: 35.7%;
  top: 45.8%;
}

.dot_park:hover {

  color: #6F6F6F;
}

/*------- END PLACES ON MAP ----------*/