/*

Link til fargekoder:
https://www.quackit.com/css/css_color_codes.cfm

*/
 
.background {
  min-height: 100vh;
  width: 100%;
  font-size: calc(10px + 2vmin);
  display: flex;
  position: absolute;
}

/*------- START PLACES ON MAP ----------*/
.dot_container_app {
  position: absolute;
  display: flex;
  align-items:end;
  width: 100%;
  height: 100%;
}

.place {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}


.dot_undergang {
  margin-bottom: 205px;
  margin-left: 100px;
  left: 277px;
  top: 263px;
}

.dot_undergang:hover {
  cursor: pointer;
  color: #6F6F6F;
}

.dot_gangbro {
  margin-bottom: 162px;
  margin-left: 485px;
  left: 265px;
  top: 235px;
}

.dot_gangbro:hover {
  cursor: pointer;
  color: #6F6F6F
}

.dot_park {
  margin-bottom: 270px;
  left: 275px;
  top: 200px;
}

.dot_park:hover {
  cursor: pointer;
  color: #6F6F6F;
}

/* i prosent, usikker på hva som blir best
dot_undergang i prosent:
  margin-bottom: 16%;
  margin-left: 7.7%;

dot_gangbro i prosent:
  margin-bottom: 12.5%;
  margin-left: 38%;

dot_park i prosent:
  margin-bottom: 22%;
*/

/*------- END PLACES ON MAP ----------*/