/*

Link til fargekoder:
https://www.quackit.com/css/css_color_codes.cfm

*/

.background {
  min-height: 100vh;
  width: 100%;
  font-size: calc(10px + 2vmin);
  display: flex;
}

/*------- START PLACES ON MAP ----------*/
.place_container {
  display: flex;
  align-items:end;
  width: 100%;
}


.place_gangbro {
  margin-bottom: 70px;
  margin-left: 60px;
}

.place_gangbro:hover {
  cursor: pointer;
  color: #6F6F6F;
}

.place_overgang {
  margin-bottom: 170px;
  margin-left: 70px;
}

.place_overgang:hover {
  cursor: pointer;
  color: #6F6F6F
}

.place_blomstereng {
  margin-bottom: 300px;
  margin-left: 70px;
}

.place_blomstereng:hover {
  cursor: pointer;
  color: #6F6F6F;
}

/* i prosent, usikker på hva som blir best
.place_gangbro {
  margin-bottom: 5%;
  margin-left: 3%;
}


.place_overgang {
  margin-bottom: 13%;
  margin-left: 7%;
}

.place_blomstereng {
  margin-bottom: 25%;
  margin-left: 7%;
}
*/

/*------- END PLACES ON MAP ----------*/